* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4fbdc;
}

header {
    height: 58px;
    background-color: #8a9000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
}

.logo span {
    display: block;
}

.menu {
    display: flex;
    gap: 38px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

#inicio {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#inicio img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

#inicio h1 {
    position: absolute;
    top: 40px;
    left: 23px;
    color: white;
    font-size: 28px;
    line-height: 1.05;
    text-shadow: 2px 2px 4px black;
}

#pacotes {
    background-color: #f4fbdc;
    padding: 40px 8%;
}

#pacotes h2 {
    color: #8a9000;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.lista-pacotes {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.pacote {
    background-color: white;
    border-radius: 8px;
    padding: 25px 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);

    display: grid;
    grid-template-columns: 1.2fr 1.5fr 180px;
    align-items: center;
    gap: 30px;
}

.cabecalho-pacote h3 {
    color: #8a9000;
    font-size: 20px;
    margin-bottom: 10px;
}

.local {
    color: #555900;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
}

.informacoes h4 {
    color: #8a9000;
    font-size: 14px;
    margin-bottom: 10px;
}

.informacoes ul {
    padding-left: 18px;
}

.informacoes li {
    color: #555;
    font-size: 13px;
    line-height: 1.7;
}

.preco {
    text-align: center;
    border-left: 1px solid #dce5b5;
    padding-left: 20px;
}

.preco p {
    color: #8a9000;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 8px;
}

.preco span {
    color: #777;
    font-size: 10px;
    line-height: 1.3;
}

footer {
    height: 180px;
    background-color: #555900;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 11px;
    font-weight: bold;
}

@media (max-width: 800px) {

    .pacote {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .preco {
        border-left: none;
        border-top: 1px solid #dce5b5;
        padding-left: 0;
        padding-top: 15px;
    }

}


@media (max-width: 550px) {

    header {
        padding: 0 15px;
    }

    nav ul {
        gap: 15px;
    }

    nav a {
        font-size: 9px;
    }

    #inicio {
        height: 180px;
        padding-left: 25px;
    }

    #inicio h1 {
        font-size: 28px;
    }

    #pacotes {
        padding: 30px 20px;
    }

    .pacote {
        padding: 20px;
    }

}